@model List<ResultTourDto>

<section class="trending pt-6 pb-0 bg-lgrey">
    <div class="container">
        <div class="list-results d-flex align-items-center justify-content-between">
            <div class="list-results-sort">
                <p class="m-0">Showing 1-5 of 80 results</p>
            </div>
            <div class="click-menu d-flex align-items-center justify-content-between">
                <div class="change-list f-active me-2"><a href="tour-list.html"><i class="fa fa-bars rounded"></i></a></div>
                <div class="change-grid me-2"><a href="tour-grid.html"><i class="fa fa-th rounded"></i></a></div>
                <div class="sortby d-flex align-items-center justify-content-between ml-2">
                    <select class="niceSelect">
                        <option value="1">Sort By</option>
                        <option value="2">Average rating</option>
                        <option value="3">Price: low to high</option>
                        <option value="4">Price: high to low</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="destination-list>
            @foreach(var item in Model) {
            <div class="trend-full bg-white rounded box-shadow overflow-hidden p-4 mb-4">
                <div class="row">
                    <div class="col-lg-4 col-md-3">
                        <div class="trend-item2 rounded">
                            <a href="tour-single.html" style="background-image: url(@item.ImageUrl);"></a>
                            <div class="color-overlay"></div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="trend-content position-relative text-md-start text-center">
                            <small>@item.DayNight</small>
                            <h3 class="mb-1"><a href="tour-single.html">@item.Title</a></h3>
                            <h6 class="theme mb-0"><i class="icon-location-pin"></i> @item.Country</h6>
                            <p class="mt-4 mb-0">@item.Description <br><a href="#"><span class="theme"> Ücretsiz İptal</span></a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="trend-content text-md-end text-center">
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <small>200 Reviews</small>
                            <div class="trend-price my-2">
                                <span class="mb-0">From</span>
                                <h3 class="mb-0">$125</h3>
                                <small>Per Adult</small>
                            </div>
                            <a href="tour-single.html" class="nir-btn">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            }


            <div class="text-center mt-4">
            @if (ViewBag.CurrentPage > 1)
            {
                    <a href="?page=@(ViewBag.CurrentPage - 1)" class="nir-btn me-2">
                        <i class="fa fa-long-arrow-alt-left"></i> Önceki
                    </a>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                    <a href="?page=@i" class="nir-btn me-1 @(i == ViewBag.CurrentPage ? "active" : "")">
                    @i
                    </a>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                    <a href="?page=@(ViewBag.CurrentPage + 1)" class="nir-btn ms-2">
                        Sonraki <i class="fa fa-long-arrow-alt-right"></i>
                    </a>
            }
            </div>
        </div>
    </div>
</section>